/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/12/2018, 09:02:16 PM
    Author     : German Barcelona
*/

@import url('https://fonts.googleapis.com/css?family=Muli|Playfair+Display|Raleway');
@import url('https://fonts.googleapis.com/css?family=Quicksand:700&display=swap');


    body{
        margin: auto;
        font-family: 'Raleway', sans-serif;
        color:#000000;
        display: block;
        overflow: scroll;
    }
    h1{
        font-family: Quicksand;
        font-size: 1.5em;
    }
@media only screen and (min-width:800px){
    #menu{
        width: 100%;
    }
    .menuPpal{
        width: 100%;
        float: right;
    }
    #menu ul#navigation{
        list-style-type: none;
        padding: 5px;
    }
    .menuPpal ul#navigation li{
        display: block;
        padding: 1%;
    }
    .menuPpal ul#navigation li:hover{
        background-color: #004465;
        color: #ffffff;
    }
    .menuPpal .subMenu1{
        display: none;
    }
    .menuPpal ul#navigation a.itemMenu:link{
        color: #004429;
        text-decoration: none;
        display: block;
    }
    .menuPpal a.itemMenu:hover{
        color: #ffffff;
    }
    #body{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    
    /** 
        LOGIN DEL SITIO PARA DESKTOP
    */
    #body #login{
        width: 50%;
        margin: auto;
        border: 1px solid #cccccc;
        border-radius: 5px;
        padding: 5px;
    }
    #body #login label{
        width: 100%;
        clear: right;
    }
    #body #leftPanel{
        background-color: #D4DFCB;
        width: 20%;
        padding: 10px;
        float: left
    }
    
    #logo{
        width: 100%;
        overflow: hidden;        
    }

    #logo img{
        width: 100%;
    }
    
    #body #rightPanel{
        background-color: #efefef;
        width: 78%;
        float: right;
    }
    
    //Estilos de formulario
    form{
        width: 100%;
        padding: 10px;
    }
    .formWrapper{
        padding: 2%;
        overflow: hidden;
    }
    form label{
        display: block;
        width: 100%;
        clear: both;
    }
    form select{
        clear: both;
        width: 100%;
    }
    input[type=text],
    input[type=password],
    input[type=date], 
    .formSelect{
        height: 40px;
        display: block;
        margin: 1% 0;
        border-radius: 5px;
        border: none;
        font-family: Quicksand;
        font-weight: regular;
        font-size: 1em;
        padding: 1%;
    }
    .formSelect{
        height: 50px;
    }
    input[type=text],
    input[type=password]{
        width: 100%;
    }
    input[type=date]{
        
    }
    :not(input[type=submit]),
    :not(input[type=button]){
        width: inherit; 
        
    }
    form .moreButton{
        background-color: #004429;
        content: " + ";
        color: #ffffff;
        border-radius: 100%;
        padding: 10px;
        border: none;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    form .submitButton{
        border:none;
        display:inline-block;
        padding:15px 20px;
        vertical-align:middle;
        overflow:hidden;
        text-decoration:none;
        color:inherit;
        background-color:#004429;
        text-align:center;
        cursor:pointer;
        white-space:nowrap;
        clear: both;
        color: #ffffff;
        border-radius: 5px;
        margin: 1% 0;
        width: 20%;
        font-family: Quicksand;
        font-size: 1em;
        
    }
    
 }