/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/12/2018, 09:02:16 PM
    Author     : German Barcelona
*/

@import url('https://fonts.googleapis.com/css?family=Muli|Playfair+Display|Raleway');


    body{
        margin: auto;
        font-family: 'Raleway', sans-serif;
        color:#000000;
        display: block;
        overflow: scroll;
    }
    h1{
        font-family: 'Playfair Display', serif;
        font-size: 1.5em;
    }
    header{
        width: 100%;
        height: 380px;
        display: block;
        overflow: hidden;
    }
    header #logo{
        background: #ffffff;
        width: 300px;
        float: left;
    }

    header #logo img{
        width: 300px;
    }
    #menu{
        width: 100% - 300px;
        height: 890px;
    }
    #menuPpal{
        width: 100%;
        background-color: #004429;
        float: right;
    }
    #menuPpal li{
        display: inline-block;
        padding: 1%;
    }
    #menuPpal .subMenu1{
        display: none;
    }
    #menuPpal a{
        color: #ffffff;
        text-decoration: none;
    }
    #menuPpal a:hover{
        font-weight: bold;
    }
    #body{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    
    /** 
        LOGIN DEL SITIO PARA DESKTOP
    */
    #body #login{
        width: 50%;
        margin: auto;
        border: 1px solid #cccccc;
        border-radius: 5px;
        padding: 5px;
    }
    #body #login label{
        width: 100%;
        clear: right;
    }